.backlogContainer {
  display: flex;
}
.tareaContainer {
  width: 75vw;
  margin: 1rem;
  margin-right: 2rem;
}
.subtitleContainer {
  margin: 1rem;
}
.tareasHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.addTareaButton {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
