.navBacklog {
  display: flex;
  background-color: #007494;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
}
.titleContainer {
  display: flex;
  align-items: center;
}
.listCardContainer {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 0.4rem;
  padding: 0.4rem;
}
